.git
.github
.next
.pnpm-store
.pytest_cache
.ruff_cache
.terraform
.venv
**/.next
**/.pytest_cache
**/.ruff_cache
**/.terraform
**/.venv
**/__pycache__
**/*.pyc
node_modules
**/node_modules
terraform.tfstate
terraform.tfstate.*
*.tfplan
*.tfvars
!.env.example
